@import "./../../styles/variables";

.profile {
  max-width: 350px;
  margin: auto;

  &__section {
    font-size: 1.2rem!important;
    line-height: 1.5rem;
    margin-bottom: $default-margin;
  }

  &__avatar {

    .profile-avatar-wrapper {
      width: 150px;
      height: 150px;
    }

    .profile-avatar {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.ant-drawer-content-wrapper {

  @media (max-width: 767px) {
    width: auto!important;
  }
}