@import "../../node_modules/antd/dist/antd.css";
@import "~emoji-mart/css/emoji-mart.css";
@import "variables";
@import "reset";


.container {
  padding: $default-padding;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 70px auto 0;
}

.app {

  &--not-active {

    .container {
      margin-top: 70px;
    }
  }
}

button, input {
  cursor: pointer;
}

body {
  scrollbar-color: $blue $black;
  scrollbar-width: 0.75rem;
}

.center {
  text-align: center;
}

.icon svg, .btn, .btn svg{
  font-size: $font-size;
}

.btn {
  width: 100%;
}

.img {
  border-radius: 100%!important;
}

.right {
  text-align: right;
  margin-left: auto;
}

.link {
  font-weight: 700;
}

.link:hover {
  color: $black;
}

.ml-1 {
  margin-left: $default-margin;
}

.mt-1 {
  margin-top: $default-margin;
}

.mt-1 {
  margin-bottom: $default-margin;
}

.pl-1 {
  padding-left: $default-padding;
}

.pr-1 {
  padding-right: $default-padding;
}

//change style of scrollbar
::-webkit-scrollbar-track {
  border-radius: 0.625rem;
  background-color: $black;
}


::-webkit-scrollbar {
  width: 0.75rem;
  border-radius: 0.625rem;
  background-color: $black;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  -webkit-box-shadow: inset 0 0 0.375rem white;
  background-color: $blue;
}

body > div:last-of-type(2) {

  @media (max-width: 767px) {
    transform: scale(.75);
  }

  @media (max-width: 575px) {
    transform: scale(.5);
    left: 5%!important;
  }

}


@media (max-width: 991px) {
  .form {
    margin: auto;
  }
}

